<template>
  <h1>Full name: {{ fullName }}</h1>
  <fieldset>
    <legend>Information</legend>
    <p>
      <label for="">First Name:</label>
      <input type="text" v-model="firstName" />
    </p>

    <p>
      <label for="">Last Name:</label>
      <input type="text" v-model="lastName" />
    </p>
    <p>{{ num }}</p>
    <button @click="incrementNumber">Increment</button>
    <button @click="decrementNumber">Decrement</button>
    <button @click="resetNumber">Reset</button>
    <button @click="reset_name">Reset_Name</button>
  </fieldset>
</template>

<script>
export default {
  name: "ComputedView",
  data: () => {
    return {
      firstName: "",
      lastName: "",
      num: 0,
    };
  },
  methods: {
    incrementNumber() {
      this.num++;
    },
    decrementNumber() {
      this.num--;
      if (this.num < 0) {
        this.num = 0;
      }
    },
    resetNumber() {
      this.num = 0;
    },
    reset_name() {
      (this.firstName = ""), (this.lastName = "");
    },
  },
  computed: {
    fullName() {
      console.log("Re-evalating fullname");
      return this.firstName + " " + this.lastName;
    },
  },
};
</script>

<style>
</style>